/* Profile Picture */
.navbar-profile-pic img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  object-fit: cover;
  display: block;
  margin: 20px auto 0;
}

/* Navigation Container */
.nav-item {
  color: white;
  margin-top: 30px;
  text-align: left;
  padding-left: 20px;
}

/* Navigation Links */
.nav-link {
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: color 0.3s, border-left 0.3s;
  text-decoration: none;
  color: white;
}

/* Hover Effect */
.nav-link:hover {
  color: #f29f67 !important;
}

/* Active Link */
.nav-link.active {
  color: #f29f67;
  border-left: 5px solid #f29f67;
  padding-left: 10px;
}
